{% extends 'base.html' %}

{% block title %}
<title>Про сервис</title>
{% endblock %}

{% block body %}
<div class="container">
 <link rel="stylesheet" href='/static/about.css' />
<div class="about-section paddingTB60 ">
                <div class="container">
                    <div class="row">

							<div class="about-title clearfix">
								<h1> Вот как <span>MyCloud</span> может вам пригодиться:</h1><br>
								<h3>Соберите воедино и защитите свои личные данные</h3>
								<p class="about-paddingB">Уследить за личными документами бывает непросто. Некоторые приходят по почте, другие хранятся… где-то в Интернете. Благодаря MyCloud вы можете собрать все бумажные и цифровые документы в одном месте — в сейфе Vault, защищенном PIN-кодом. </p>
                                <h3>Вспоминайте яркие моменты из жизни</h3>
								<p class="about-paddingB">Скучаете по любимому месту? Можно в любой момент пересмотреть фотографии из отпуска! Храните в MyCloud снимки, сделанные на смартфон, цифровую камеру и даже на пленку. </p>
                                <h3>Мгновенно создавайте резервные копии важных данных</h3>
                                <p class="about-paddingB">Сохраняйте в MyCLoud все что угодно: пароли, налоговые документы и даже рецепт знаменитого маминого печенья. Если не получается что-то найти, встроенные инструменты помогут вам восстановить любой файл.</p>
                                <h3>Автоматически сохраняйте все, что вам дорого</h3>
								<p class="about-paddingB">Семейные фотографии бесценны, но, к сожалению, они тоже теряются. Ваши лучшие воспоминания теперь надежно защищены: MyCloud будет автоматически сохранять и синхронизировать фотографии, видео и многое другое.</p>
                                <h2> Выберите тарифный план <span1>MyCloud</span1> для личного аккаунта и присоединяйтесь к нашему дружелюбному сообществу!</h2>
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
							</div>
						</div>
                    </div>
                </div>
{% endblock %}